.title-wrapper{

    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    .title-block{
        width: 1200px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100px;
        h2{
            text-transform: uppercase;
            padding-left: 10px;
        }
    }
}

@media (max-width: 768px){
    .title-wrapper{
        .title-block{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
  }