.userprofile-wrapper{

    width: 100%;
    background-color: #d3d2d2;
    display: flex;
    justify-content: center;
    .userprofile-block{
        width: 1200px;
        display: flex;
        justify-content: flex-end;
        .mobile-icons{
            display: none;
        }
        .user-block{
            padding: 5px 10px;
            display: flex;
            align-items: center;
        }
        .add-padding{
            padding-left: 5px;
        }
    }
}

@media (max-width: 768px){
    .userprofile-wrapper{
        .userprofile-block{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 70px;
            .mobile-icons{
                display: flex;
                width: 100%;
                div{
                    width: 50%;
                    display: flex;
                    padding: 0px 20px;
                }
                .addon-flex-alignment{
                    justify-content: flex-end;
                }
            }
            .user-block{
                display: none;
            }
        }
    }
  }