.Faq-wrapper{

    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    .Faq-block{
        width: 1200px;
        margin-bottom: 100px;
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;
        // height: 100px;
        
    }
}

@media (max-width: 768px){
    .Faq-wrapper{
        .Faq-block{
            width: 100%;
        }
    }
}