.licenseplans-wrapper{

    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    .licenseplans-block{
        width: 1200px;
        display: flex;
        flex-direction: column;
        .slider-block{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .plan-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            border-top: 3px solid orangered;
            .inner-plan-container{
                width: 33.33%;
                height: 600px; 
                border: 1px solid #d3d2d2;
                .heading-block{
                    background-color: #363434;
                    color: #ffffff;
                    padding: 8px 0;
                }
                .pricing-block{
                    background-color: #231f20;
                    color: #ffffff;
                    padding: 16px 0;
                }
                .content-wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    text-align: start;
                    padding: 20px;
                    height: 78%;
                    .content-block1{
                    
                        .block1{
                            display: block;
                            font-weight: bold;
                        }
                        .add-padding-space{
                            padding: 0px 5px;
                        }
                        .add-flex-alignment{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                        }
                        
                    }
                    .add-flex-align-margin-space{
                        margin-bottom: auto;
                    }
                }
                
            }
        }
        
    }
}

@media (max-width: 768px){
    .licenseplans-wrapper{
        .licenseplans-block{
            width: 100%;
            .plan-container{
                display: block;
                .inner-plan-container{
                    width: 100%;
                }
            }
        }
    }
  }